.ParkingPage {
    display: flex;
    flex-direction: column;
    height: 90vh;
    color: var(--text-color);
}

.top-parking-page {
    display: flex;
    justify-content: space-between;
    width: 95%;
}

.img {
    width: 70%;
    height: 70%;
}

.img img {
    width: 100%;
    height: 100%;
}

.ParkingPage .sticky {
    position: -webkit-sticky;
    position: sticky;
    bottom: 30vh;
    mix-blend-mode: normal;
}

.ParkingPage .information {
    width: 50%;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(6px);
    border-radius: 0px 0px 10px 10px;
    background-color: #cfc5c59e;
}

.ParkingPage .Details1 {
    width: 100%;
    display: flex;
}

.ParkingPage .Details {
    display: flex;
    width: 90%;
    justify-content: space-around;
}

.right p {
    text-align: left;
}

.green {
    color: green;
}

.red {
    color: red;
}

.electricCars {
    display: flex;
}

.roofed {
    display: flex;
}

.available {
    display: flex;
}

.price {
    display: flex;
}

.logo {
    /* height: 15vh; */
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    /* margin-left: 10vh; */
    margin-top: 1vh;
}

.ParkingPage-logo {
    height: 15vh;
    top: 0px;
    margin-left: 10vh;
    margin-top: 1vh;
}

.saved {
    cursor:pointer;
    display: flex;
    width: 5%;
    font-size: xx-large;
}

.like {
    color: red;
}

@media (max-width: 540px) {
    .ParkingPage .Details {
        flex-direction: column;
        align-items: start;
        padding-left: 15px;
    }

    .ParkingPage .information {
        width: 40%;
    }

    .ParkingPage h1 {
        font-size: large;
    }

    .ParkingPage h3 {
        font-size: medium;
    }

    .ParkingPage p {
        font-size: small;
    }
}