.ParkingPage {
    display: flex;
    flex-direction: column;
    height: 90vh;
    color: var(--text-color);
}

.top-parking-page {
    display: flex;
    justify-content: space-between;
    width: 95%;
}

.img {
    width: 70%;
    height: 70%;
}

.img img {
    width: 100%;
    height: 100%;
}

.ParkingPage .sticky {
    position: -webkit-sticky;
    position: sticky;
    bottom: 50vh;
    mix-blend-mode: normal;
    background-color: #cfc5c59e;
}

.ParkingPage .information {
    width: 50%;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(6px);
    border-radius: 0px 0px 10px 10px;
}

.ParkingPage .information>h1 {
    width: 100%;
}

.ParkingPage .Details1 {
    width: 100%;
    display: flex;
    margin-bottom: 3vh;
}

.ParkingPage .Details {
    display: flex;
    width: 90%;
    justify-content: space-around;
}

.sticky-buttom {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.right p {
    text-align: left;
}

.green {
    color: green;
}

.roofed,.available,.electricCars {
    display: flex;
}

.logo {
    display: flex;
    /* position: -webkit-sticky; */
    position: sticky;
    top: 0px;
    margin-top: 1vh;
}

.ParkingPage-logo {
    height: 15vh;
    top: 0px;
    margin-top: 1vh;
}

.saved {
    cursor: pointer;
    display: flex;
    width: 5%;
    font-size: xx-large;
}

.like, .red  {
    color: red;
}

.navigation-button {
    background-color: var(--main-color-2);
    color: white;
    font-size: 1.5vw;
    width: 15vw;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 2vh;
    text-decoration: none;
}

.navigation-button:hover {
    background-color: var(--main-color-1);
}

@media (max-width: 540px) {
    .ParkingPage .Details {
        /* flex-direction: column; */
        align-items: start;
        padding-left: 15px;
    }
    .top-parking-page {
        display: flex;
        justify-content: space-between;
        width: 100vw;
        max-width: 100%;
    }

    .ParkingPage .information {
        width: 90vw;
    }

    .ParkingPage h1 {
        font-size: large;
    }

    .ParkingPage h3 {
        font-size: medium;
    }

    .ParkingPage p {
        font-size: small;
    }
    .sticky-buttom{
        /* flex-direction: column; */
    }
}