:root:has(.light-mode){
    --background-color: #fff;
    --text-color:#000;
  
    --main-color-1 :#36899e;
    --main-color-2: #76b5c5;
  }



footer{
    display: flex;
    /* color: #fff; */
    background-color: #36899e;
    height: 250px;
    justify-content: space-evenly;
}
footer .size-icon{
    color: #76b5c5;
    font-size: 48px;
}
footer .appStor{
    color: #76b5c5;
}