footer{
    display: flex;
    background-color: #36899e;
    height: 250px;
    justify-content: space-evenly;
    color: aliceblue;
    align-items: flex-start;
    padding: 2%;
}
footer *{
    text-align: left;    
}
footer .size-icon{
    color: #76b5c5;
    font-size: 48px;
}
footer .appStor{
    color: #76b5c5;
}