footer{
    display: flex;
    background-color: var(--main-color-1);
    height: 250px;
    justify-content: space-evenly;
    color: aliceblue;
    align-items: flex-start;
    padding: 2%;
}
footer *{
    text-align: left;    
}
footer .size-icon{
    color: #76b5c5;
    font-size: 48px;
}
footer .appStor{
    color: #76b5c5;
}
.Icons{
    font-size: 42px;
    color:#76b5c5;
  }

@media (max-width: 540px) {
    footer{
        flex-direction: column;
        height: 180px;
        font-size: small;
    }
    footer .size-icon{
        font-size: 15px;
    }
    .Icons {
        font-size: 15px;
    }
}