*,*::after,*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 100ms;
  text-align: center;
  align-items: center;
}

:root:has(.dark-mode){
  --background-color: #555;
  --text-color:#111;
  --btn-color:#0b2643;
  --main-color-1 :#063970;
  --main-color-2: #265f9c;

}

:root:has(.light-mode){
  --background-color: #fff;
  --text-color:#000;
  --btn-color:#1c5867;
  --main-color-1 :#36899e;
  --main-color-2: #76b5c5;
}


.main-div:has(.login-page){
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
