
.user-profile {
    font-family: 'Berkshire Swash', cursive;
    font-family: 'Rubik', sans-serif;
    font-size:large;
    color: var(--main-color-1);
    width: clamp(540px, 70%, 100vh);
    min-height: 70vh;
    display: flex;
    justify-content: space-around;
    margin: auto;
}



.user-detail-input{
    border: none;
    outline: none;
    font-size: inherit;
    text-align: left;
    color: inherit;
}
.details>* {
    display: flex;
    justify-content: space-between;
    height: 40%;
    text-align: start;
    border-bottom: 1px solid black;
    padding-bottom: 3px;
    margin-bottom: 15px;
    text-align: left;
    position: relative;
}

.details{
    width: 65%;
    margin-left: 15px;
    overflow: hidden;
}

#file{
    display: none;
}
.image-div {
    width: 35%;
    height: 250px;
    overflow: hidden;
    position: relative;
}
.image-div img{
    position: absolute;
    width: 100%;
    left: 0;
    aspect-ratio: 1;
    border-radius: 50%;
}
.image-div .set-image{
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.5);
    padding: calc(50% - 15px);
    line-height: 15px;
    font-size: 30px;
    transition-duration: 100ms;
    z-index: 2;
    cursor: pointer;
}
.image-div:has(*:hover) .set-image{
    display: block;
}
.Update-details{
    height: 100%;
}

.Update{
    height: 100%;
    width: 100%;
    background-color: Transparent;
    color: blue;
    font-size: x-large;
    border: none;
}
.Update:hover{
    background-color: var(--main-color-2);
    border-radius: 10px;
}

.update-div {
    height: 100%;
    overflow: hidden;
    position: absolute;
    right: 0;
    top:0;
}
.update-div .material-symbols-outlined{
    cursor: pointer;
    margin-left:8px ;
    user-select: none;
}

.delete-btn{
    cursor: pointer;
    color: white;
    background-color: #c33;
    border-radius: 10px;
    border: none;
    padding: 15px;
    
}