
.user-profile {
    font-family: 'Berkshire Swash', cursive;
    font-family: 'Rubik', sans-serif;
    font-size:large;
    color: var(--text-color);
    width: clamp(540px, 70%, 100vh);
    min-height: 70vh;
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
}

.user-profile .user-detail-input{
    background-color:transparent;
    border: none;
    outline: none;
    font-size: inherit;
    text-align: left;
    color: inherit;
}
.user-profile .input {
    display: flex;
    text-align: start;
    border-bottom: 1px solid black;
    padding-bottom: 3px;
    margin-bottom: 15px;
    text-align: left;
    position: relative;
}

.user-profile .details{
    width: 65%;
    margin-left: 15px;
    overflow: hidden;
}

.user-profile #file{
    display: none;
}
.user-profile .image-div {
    width: 35%;
    height: 35vh;
    overflow: hidden;
    position: relative;
}
.user-profile .image-div img{
    position: absolute;
    width: 100%;
    left: 0;
    aspect-ratio: 1;
    border-radius: 50%;
}
.user-profile .image-div .set-image{
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.5);
    font-size: 30px;
    transition-duration: 100ms;
    /* z-index: 2; */
    cursor: pointer;
}
.fa-camera{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}
.user-profile .image-div:has(*:hover) .set-image{
    display: block;
}
.user-profile .Update-details{
    height: 100%;
}

.user-profile .Update{
    height: 100%;
    width: 100%;
    background-color: Transparent;
    color: blue;
    font-size: x-large;
    border: none;
}
.user-profile .Update:hover{
    background-color: var(--main-color-2);
    border-radius: 10px;
}

.user-profile .update-div {
    height: 100%;
    overflow: hidden;
    position: absolute;
    right: 0;
    top:0;
}
.user-profile .update-div .material-symbols-outlined{
    cursor: pointer;
    margin-left:8px ;
    user-select: none;
}

.user-profile .btns{
    display: flex;
    justify-content: space-around;
}
.user-profile .btns *:active{
    scale: 0.95;
}
.user-profile .delete-btn{
    background-color: #c33;    
}
.user-profile .reset-btn{
    background-color: var(--btn-color);    
}
.user-profile .reset-btn,
.user-profile .delete-btn{
    cursor: pointer;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 15px;
}

@media screen and (width<540px) {
    .user-profile {
        flex-direction: column;
        width: 100vw;

    }
}