
.user-profile {
    font-family: 'Berkshire Swash', cursive;
    font-family: 'Rubik', sans-serif;
    font-size:large;
    color: var(--main-color-1);
    width: clamp(540px, 70%, 100vh);
    height: 80vh;
    display: flex;
    justify-content: space-around;
    margin: auto;
}


.user-profile input {
    border: none;
}
.desc,
.name,
.email,
.phone {
    display: flex;
    justify-content: space-between;
    height: 40%;
    text-align: start;
    border-bottom: 1px solid black;
    margin-bottom: 15px;
}

.image {
    width: 35%;
    height: 250px;
    overflow: hidden;
    position: relative;
}
.details{
    width: 65%;
    margin-left: 15px;
    overflow: hidden;
}
.details * {
    text-align: left;

}
.image img{
    position: absolute;
    width: 100%;
    left: 0;
    aspect-ratio: 1;
    border-radius: 50%;
}
.image .set-image{
    position: absolute;
    display: none;
    width: 100%;
    aspect-ratio: 1;
    background-color: rgba(0,0,0,0.5);
    border-radius: 50%;
    padding: calc(50% - 15px);
    line-height: 15px;
    font-size: 30px;
    transition-duration: 100ms;
    z-index: 2;
    cursor: pointer;
}
.image:has(*:hover) .set-image{
    display: block;
}
.Update-details{
    height: 100%;
}
.Update-div{
    height: 100%;
    width: 20%;
}
.Update{
    height: 100%;
    width: 100%;
    background-color: Transparent;
    color: blue;
    font-size: x-large;
    border: none;
}
.Update:hover{
    background-color: var(--main-color-2);
    border-radius: 10px;
}
