*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 100ms;
    text-align: center;
    align-items: center;
}

:root:has(.dark-mode){
    --background-color: #555;
    --text-color:#111;

    --main-color-1 :#063970;
    --main-color-2: #265f9c;

}

:root:has(.light-mode){
    --background-color: #fff;
    --text-color:#000;

    --main-color-1 :#36899e;
    --main-color-2: #76b5c5;
}


body {
    background-color: var(--background-color);
    color: var(--text-color);

}

nav{
    color: #fff;
    background-color: var(--main-color-1);
    height: 90px;
    display: flex;
    justify-content: space-around;

}
main{
    background-color: var(--background-color);
}

nav > div{
    height: 50px;
    padding: 15px;
    border-radius: 10px;
}

nav > div.selected{
    background-color: #fff;

    color: var(--main-color-1);
}

nav > div:hover:not(.selected){
    background-color: var(--main-color-2);
}

nav>img{
    width: 70px;
    border-radius: 10px;
    margin: 10px;
}